CRIME_DB_HOST=127.0.0.1
CRIME_DB_NAME=crime_mapping
CRIME_DB_USER=root
CRIME_DB_PASS=
CRIME_DB_CHARSET=utf8mb4

CRIME_SMS_PROVIDER=semaphore
CRIME_SMS_SEMAPHORE_API_KEY=5b94324bd6fd9af72e4120e18fa688c9
CRIME_SMS_SEMAPHORE_SENDER_NAME=CrimeAlert
CRIME_SMS_SEMAPHORE_API_URL=https://api.semaphore.co/api/v4/messages
